/*======================
¤¤¤¤ Basic Features ¤¤¤¤
======================*/
body
{
	background-color: #01003b;
	color: orange
}
.v-center {
	margin-top:7%;
}
.hidden-link a,
.hidden-link a:hover,
.hidden-link a:active,
.hidden-link a:visited
{
	text-decoration: none; 
	color: inherit
}

.input-field
{
	margin-bottom: 10px !important;
}

#page-wrapper
{
	background-color: #01003b;
}

#page-inner
{
	background-color: #01003b;
}

@media(min-width:768px) 
{
	#page-wrapper
	{
		margin: 0 0 0 260px;
        padding: 15px 30px;
    }
}

#main-menu
{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #202020;
	width: 250px;
	overflow-y: auto;
}

.menu-icon
{
	width: 60px;
	padding-right: 10px;
	text-align: center;
}

.navbar-brand
{
	height: 80px;
	display: block;
}

#brand
{
	margin: 0 auto;
	color: white;
	background-color: black;
	font-size: 250%;
	text-align: center;
}

.bottom-menu
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 250px;
}

.top-menu > li
{
	border-bottom: 1px solid #555;
}

.bottom-menu > li
{
	border-top: 1px solid #555;
}

.submenu-shown
{
	border-bottom: 1px solid red;
}

.bottom-menu-half-item:first-child
{
	border-right: 1px solid #555;
}

#bottom-menu-dual-area > a
{
	width: 50%;	
	display: inline;
}

#bottom-menu-dual-area > .menu-item
{
	display: inline-block;
	width: 49%;
}

#bottom-menu-dual-area:last-child
{
	padding: 0;
	margin: 0;
}

#target-menu > .menu-item :first-child
{
	color: orange;
}

#page-wrapper,
#page-inner,
#page-wrapper > #page-inner
{
	background-color: #01003b !important;
}