/*======================
¤¤¤¤ Basic Features ¤¤¤¤
======================*/
body
{
	background-color: #000;
	color: orange
}
.v-center {
	margin-top:7%;
}
.hidden-link a,
.hidden-link a:hover,
.hidden-link a:active,
.hidden-link a:visited
{
	text-decoration: none; 
	color: inherit
}

.input-field
{
	margin-bottom: 10px !important;
}

#page-wrapper
{
	background-color: #01003b;
}

#page-inner
{
	background-color: #01003b;
}

@media(min-width:768px) 
{
	#page-wrapper
	{
		margin: 0 0 0 260px;
        padding: 15px 30px;
    }
}

#main-menu
{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #202020;
	width: 260px;
	overflow-y: auto;
}

.menu-icon
{
	width: 60px;
	padding-right: 10px;
	text-align: center;
}

.navbar-brand
{
	height: 80px;
	display: block;
}

#brand
{
	margin: 0 auto;
	color: white;
	background-color: black;
	font-size: 250%;
	text-align: center;
}

.bottom-menu
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 260px;
}

.top-menu > li
{
	border-bottom: 1px solid #555;
}

.bottom-menu > li
{
	border-top: 1px solid #555;
}

.submenu-shown
{
	border-bottom: 1px solid red;
}

.bottom-menu-half-item:first-child
{
	border-right: 1px solid #555;
}

#bottom-menu-dual-area > a
{
	width: 50%;	
	display: inline;
}

#bottom-menu-dual-area > #logout
{
	display: inline-block;
	width: 35%;
}

#bottom-menu-dual-area > #profile
{
	display: inline-block;
	width: 64.6%; /*.6 because of the margin-left below */
	margin-left: -3px; /* Else there is some stupid margin on the left... */
}

#bottom-menu-dual-area:last-child
{
	padding: 0;
	margin: 0;
}

#target-menu > .menu-item :first-child
{
	color: orange;
}

#page-wrapper,
#page-inner,
#page-wrapper > #page-inner
{
	background-color: #000 !important;
	padding-top: 0 !important;
}


.content-box
{
	background-color: #ffffff;
    /*border-color: lightblue;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 110%;
    margin-bottom: 20px;
}

#subtitle
{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.last-login-span
{
	color: #aaa;
	font-size: 70%;
	margin-top: 10px;
}

.title-input
{
	font-size: 14pt;
	margin-bottom: 10px;
	font-weight: bold;
}

.subtitle-input
{
	font-size: 11pt;
}

.invisible-input
{
	border: none; 
	box-shadow: none;
	margin-left: -10px;
}

.form-label
{
	color: #555;
}

.content-box > .title
{
	color: #555;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 20px;
}

.content-box
{
	color: #555;
}

.content-box > .description
{
	color: #555;
	font-size: 10pt;
	margin-left: 20px;
	padding-top: 0;
}

.content-box > .description-lg
{
	color: #555;
	font-size: 11pt;
	margin-left: 20px;
	padding-top: 0;
}

#help-section
{
	display: none;
}

#toggle-help
{
	color: orange;
	cursor: pointer;
}

.red-icon
{
	color: red !important;
}

.fa-1x
{
	font-size: 1.5em;
}

.icon-link
{
	cursor: pointer !important;
}

.red-icon-disabled
{
	color: grey !important;
	cursor: auto !important;
}